**Домашнее задание**


**Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [3]:
import pandas as pd

In [44]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [46]:
log.loc[log['traffic_source'].isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[log['traffic_source'].isin(['paid', 'email']) & log['region'].isin(['Russia']), 'source_type']  = 'ad'
log.loc[((log.traffic_source == 'paid') | (log.traffic_source == 'email')) & ((log.region != 'Russia')),'source_type'] = 'other'
log.loc[pd.isnull(log.source_type), 'source_type'] = log.traffic_source
log.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [59]:
import re

In [128]:
url = pd.read_csv('URLs.txt')
url.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [130]:
url.loc[url['url'].str.contains(r'\/\d{8}\-'), 'page_view'] = 'news'
url.loc[pd.isnull(url.page_view), 'page_view'] = 'other'
url.sort_values('page_view', ascending=False).head(20)

                                                  url page_view
0                                             /world/     other
37                                        /lifestyle/     other
2                                       /?updated=top     other
1                                            /latest/     other
32                                             /auto/     other
8                                           /science/     other
9                                             /sport/     other
34                                          /scitech/     other
39                                    /latest/?page=1     other
67  /middleeast/36024757-v-sekretnoy-tyurme-v-siri...      news
66  /europe/36046038-v-parizhskom-metro-progremel-...      news
65  /starlife/36014715-evelina-bledans-vyshla-v-sv...      news
64  /world/36195262-deputat-savchenko-predlozhila-...      news
63  /business/36184872-udar-po-schetchiku-rossiyan...      news
62  /starlife/36053306-dzhigarhanyan-dal-shokiruyu...      news
60  /articles/36142564-ukrainu-ureguliruyut-po-tih...      news
61  /starlife/36044627-u-malyshevoy-sdali-nervy-na...      news
69  /articles/36170146-rossiya-reshila-postavlyat-...      news
59       /articles/36213214-vozmozhna-bolshaya-voyna/      news
58  /politics/36233197-times-britaniya-peregnula-p...      news

**Задание 3**
Сформулировано в конце кода занятия.
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [5]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [7]:
from pymystem3 import Mystem

In [8]:
m = Mystem()

In [40]:
data['lemmas'] = new(data['keyword'])
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n

In [38]:
def new (row):
    i = []
    for x in row:
        b = str(' '.join(m.lemmatize(x)))
        i.append(b)
    return i
        
new (data['keyword'])

['курс   гривна   к   рубль \n',
 'доллар   в   рубль \n',
 '100   доллар   в   рубль \n',
 'курс   рубль \n']